<!DOCTYPE html>
<html>
<%- include('partials/head'); -%>
<body>
<h1>Архив</h1>
<p>
    <a href="/">На главную</a>
</p>
<hr>
<div id="contests"></div>

<script src="/javascripts/archive.js"></script>
</body>
</html>
