<!DOCTYPE html>
<html>
<%- include('partials/head'); -%>
<body>
<h1>Добро пожаловать на сайт</h1>
<p>
    <a href="/contests/archive/">Архив</a>
</p>
<hr>
<div id="contests"></div>

<script src="/javascripts/index.js"></script>
</body>
</html>
