body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.flex {
  display: flex;
}

button {
  margin-left: 10px;
}

#new-contest-text {
  margin-left: 10px;
}

#info-preview {
  margin: 0 5px;
}

.info-view {
  display: none;
}
.info-view-active {
  display: unset;
}
